:root {
    --dark: #422f47;
    --berry: #bf5669;
    --pink: #f8dcdc;
    --green: #c0e6cd;
    --pink2: #f3bcb8;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

body {
    font-family: Courier, monospace;
    background-color: var(--pink);
}

.main-header,
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink2);
    height: 10rem;
    padding: 1rem;
    font-size: 2rem;
    text-shadow: .4rem .4rem .4rem var(--berry);
    border: .3rem ridge var(--dark);
    border-radius: 5px;
}

.nav a,
.links>li {
    text-decoration: none;
}

#about,
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#about img {
    width: 25rem;
}

#about div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.8rem;
    padding: 3rem;
}

#about h2,
#projects h2,
#contact h2 {
    text-shadow: .4rem .4rem .4rem var(--berry);
    align-self: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.project-1 img {
    width: 35rem;
    height: auto;
}

.comingsoon {
    display: flex;
    justify-content: center;
}

.project-2,
.project-3 {
    width: 18rem;
    padding: .5rem;
    padding-bottom: 2.5rem;
}

li>a {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

@media screen and (min-width: 992px) {

    .main-header,
    #contact {
        height: 10rem;
        font-size: 3rem;
        justify-content: space-between;
        padding: 5rem 10rem;
    }

    #about {
        flex-direction: row;
        padding: 5rem 25rem;
    }

    #about h2,
    #projects h2,
    #contact h2 {
        font-size: 3rem;
    }

    li>a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 2.5rem;
        padding-right: 1rem;
    }

    .project-1 img {
        width: 65rem;
    }

    .project-2,
    .project-3 {
        width: 34.5rem;
        padding: 1rem;
        padding-bottom: 5rem;
    }

}