:root {
    --dark: #422f47;
    --mauve: #a65858;
    --berry: #bf5669;
    --peach: #F28E85;
    --pink: #f8dcdc;
    --green:#c0e6cd;
    --pink2: #d79c9f;
    --grad: linear-gradient(to right var(--peach), var(--berry))
}

*{
    box-sizing: border-box;
    color: var(--dark);
}

html {
    scroll-behavior: smooth;
    /* font-size: 62.5% */
}

body {
    font-family: Courier, monospace;
    background-color: var(--pink);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink2);
    height: 100px;
    padding: 10px;
    font-size: 35px;
    text-shadow:4px 4px 4px var(--berry);
    border: 3px solid var(--dark);
    border-radius: 25px;
  }
 
.nav{
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
   }


.nav-list a{
    text-decoration:none;   
    padding:12px;
}

section img {
    width: 25%;
    /* border: 5px dotted var(--berry); */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--pink2);
    }

.about {
    display:flex;
    padding: 50px;
    font-size: larger;
    justify-content: space-between;
}
.about div{
display: flex;
flex-direction: column;
justify-content: center;
padding: 100px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects h2{
    font-size: 500;
}

#project-1 {
width: 75%;
}

#project-2 {
flex:1;
}

#project-3{
flex:1;
}

#contact {
    margin-top: 100px;
}


@media screen and (max-width: 992px){

}